.content-top{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-top .img-background{
    background: url(../../IMAGE/washing-pet-dog-home.png);
    width: 50%;
    height: 350px;
    border-radius: 30%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-top p{
    width: 50%;
    text-align: center;
    margin-top: 10px;
}
.content-top .text-special{
    position: absolute;
    bottom: 300px;
}
.content-top .text-special p h2{
    font-size: 120px;
}
.content-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.content-2-left {
    width: 50%;
}

.content-2-left .space-content-2 h2 {
    font-size: 40px;
}

@media (max-width: 768px) { /* Thực hiện khi màn hình có chiều rộng nhỏ hơn hoặc bằng 576px */
    .content-2 {
        flex-direction: column;
        align-items: center;
    }

    .content-2-left {
        width: 100%;
        text-align: center;
    }

    .content-2-left .space-content-2 h2 {
        font-size: 32px; /* giảm kích thước font cho tiêu đề */
    }

    .content-2-left .space-content-2 p {
        font-size: 0.9rem; /* giảm kích thước font cho nội dung */
    }
}

.content-2-left .space-content-2{
    margin-left: 10rem;
}
.content-2-left .space-content-2 button{
    padding: 7px 15px;
    border-radius: 10px;

}
.content-2-left .space-content-2 button:hover{
    background-color: black;
    color: white;
}
.content-2-right{
    width: 50%;
}
.content-2-right img{
    float: right;
    margin-right: 30px;
}
@media (max-width: 768px) { /* Thực hiện khi màn hình có chiều rộng nhỏ hơn hoặc bằng 768px */
    .content-2 {
        flex-direction: column;
        align-items: center;
    }

    .content-2-left .space-content-2 {
        margin-left: 0;
        text-align: center;
        margin-bottom: 2rem;
    }

    .content-2-right {
        width: 100%;
        text-align: center;
    }

    .content-2-right img {
        float: none;
        margin: 0;
        width: 75%;
    }
}
.content-5 {
    margin-top: 4rem;
}

.content-5-main {
    display: flex;
    justify-content: space-between;
}

.content-5-main .content-5-left {
    width: 50%;
    margin-left: 10rem;
}

.content-5-main .content-5-left button {
    padding: 7px 15px;
    border-radius: 10px;
}

.content-5-main .content-5-left button:hover {
    background-color: black;
    color: white;
}

.content-5-main .content-5-right {
    width: 50%;
    margin-left: 12rem;
}

.content-5-main .content-5-right ul {
    list-style: none;
}

@media (max-width: 768px) { /* Thực hiện khi màn hình có chiều rộng nhỏ hơn hoặc bằng 768px */
    .content-5-main {
        flex-direction: column;
        align-items: center;
    }

    .content-5-main .content-5-left,
    .content-5-main .content-5-right {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .content-5-main .content-5-right ul {
        padding-left: 0;
    }

    .content-5-main .content-5-right ul li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .content-5-main .content-5-right ul li img {
        margin-right: 1rem;
    }
}

.content-6{
    display: flex;
    flex-direction: row;
}
.content-6 .content-6-left{
    display: flex;
    align-items: end;
    width: 30%;
}
.content-6 .content-6-left img{
    width: 60%;
    margin-left: 10rem;
}
.content-6 .content-6-right{
    width: 70%;
}
.content-6 .content-6-right img{
    float: right;
    width: 85%;
    margin-right: 2rem;
}
.content-7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content-7 img{
    width: 15%;
}
.content-7 p{
    width: 50%;
    text-align: center;
}
.content-8{
    display: flex;
}
@media (max-width: 768px) { /* Thực hiện khi màn hình có chiều rộng nhỏ hơn hoặc bằng 768px */
    .content-8 .col-md {
        margin-top: 10px;
    }
}
#ex{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    }
    .content-3 img {
        width: 50%;
        max-width: 100%; /* Giữ cho hình ảnh không vượt quá kích thước của nội dung cha */
        margin: 0 auto; /* Để căn giữa hình ảnh */
        display: block; /* Loại bỏ khoảng trắng dư thừa dưới hình ảnh */
    }
    
    .content-4 img {
        width: 75%;
        max-width: 100%; /* Giữ cho hình ảnh không vượt quá kích thước của nội dung cha */
        margin: 0 auto; /* Để căn giữa hình ảnh */
        display: block; /* Loại bỏ khoảng trắng dư thừa dưới hình ảnh */
    }
    
    @media (max-width: 768px) { /* Thực hiện khi màn hình có chiều rộng nhỏ hơn hoặc bằng 768px */
        .content-3 img,
        .content-4 img {
            width: 100%;
            margin-bottom: 2rem; /* Thêm khoảng cách dưới hình ảnh */
        }
    }
    @media (max-width: 768px) { /* Thực hiện khi màn hình có chiều rộng nhỏ hơn hoặc bằng 768px */
        .content-6-left img,
        .content-6-right img {
            visibility: hidden; /* Ẩn hình ảnh */
            height: 0; /
        }
    }
    
    